h1{
    text-align:center;
    margin-bottom:25px;
}
ion-card{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.big_img{
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
ion-row{
    margin: 25px 15px 25px 15px;
}
#right{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
#up{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
#left{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
#down{
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}